.advantages__intro {
  padding: 32px 18px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item--photo {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__photo {
  display: block;
  width: 100%;
}

.advantages__title {
  margin: 0 0 11px 0;
}

.advantages__title--intro {
  margin: 0 0 35px 0;
}

.advantages__item {
  padding: 32px 18px;
}

.advantages__item-wrapper {
  padding: 32px 18px;
}

.advantages__item--short {
  background-color: #eeeeee;
}
