@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.advantages__intro {
  padding: 32px 18px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 44px;
  }
}

.advantages__list {
  @include reset-list;
  counter-reset: advantage;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__photo {
  display: block;
  width: 100%;
  background-color: #81b3d2;
}

.advantages__list .advantages__description::before {
  display: block;
  margin-bottom: 17px;
  content: "— №" counter(advantage) "—";
  counter-increment: advantage;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.advantages__title {
  margin: 0 0 11px 0;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }
}

.advantages__description {
  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }
}

.advantages__title--intro {
  margin: 0 0 35px 0;
}

.advantages__item-wrapper {
  padding: 32px 18px;
  background-color: #81b3d2;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    min-width: 256px;
    max-width: 400px;
    padding: 52px 33px 31px 33px;
  }
}

.advantages__item--short {
  background-color: #eeeeee;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 41px 33px;
    min-width: 256px;
  }
}

.advantages__item--photo {
  @media (min-width: $tablet-width) {
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
