@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.advantages__intro {
  display: flex;
  flex-direction: column;
  padding: 32px 18px 16px 18px;

  @media (min-width: $intermediate-width) {
    padding: 40px 18px 48px 18px;
  }

  @media (min-width: $tablet-width) {
    padding: 48px 124px 55px 124px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 44px;
  }
}

.advantages__list {
  @include reset-list;
  counter-reset: advantage;

  @media (min-width: 512px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__photo {
  display: block;
  width: 100%;
  max-height: 260px;
  background-color: #81b3d2;
  min-height: 256px;

  @media (min-width: $tablet-width) {
    max-height: 256px;
  }
}

.advantages__list .advantages__description::before {
  display: block;
  margin-bottom: 17px;
  content: "— №" counter(advantage) "—";
  counter-increment: advantage;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.advantages__title {
  margin: 0 0 11px 0;
}

.advantages__description {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.advantages__title--intro {
  margin: 0 0 35px 0;
}

.advantages__item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 18px;
  background-color: #81b3d2;
  color: #ffffff;
  flex-shrink: 0;

  @media (max-width: $mobile-width) {
    &:first-child::before {
      position: relative;
      content: "";
      width: 320px;
      height: 37px;
      top: -37px;
      left: -18px;
      background-image: url("../img/stack.svg#white-spear");
      background-repeat: no-repeat;
      background-position: 50%;
      padding-top: 37px;
    }
  }

  @media (min-width: $intermediate-width) {
    width: 42%;
    max-width: 256px;
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: $tablet-width) {
    @include edge-distance(40px);
    width: 33.3%;
    max-width: 400px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 55px;
    width: 34%;
  }
}

.advantages__item--short {
  background-color: #eeeeee;

  @media (max-width: $intermediate-width) {
    padding: 24px 35px 28px 35px;
    position: relative;

    &:not(:last-child)::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 18px;
      width: calc(100% - 36px);
      height: 1px;
      background-color: #d6d6d6;
    }
  }

  @media (min-width: $intermediate-width) {
    padding: 24px 28px 28px 28px;
  }

  @media (min-width: $tablet-width) {
    padding: 41px 33px;
    min-width: 256px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }
}

.advantages__item--photo {
  @media (min-width: 512px) {
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
