@use "../global/mixins.scss" as *;

.button {
  @include button-shape;
  padding: 16px 0;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.button--modal-failure {
  min-width: 180px;
  max-width: 272px;
}

.button--modal-success {
  min-width: 280px;
  max-width: 458px;
}
