@use "../global/variables.scss" as *;
@use "../global/mixins.scss" as *;

.copyright__link {
  @include menu-shape;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    justify-content: end;
    padding-top: 3px;
  }
}

.copyright__link-icon {
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
    margin-bottom: 3px;
  }
}
