@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.feedback-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.feedback-modal__modal-failure {
  position: relative;
  margin: auto;
  padding: 45px 42px 35px 42px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  max-width: 400px;
}

.feedback-modal__modal-success {
  position: relative;
  margin: auto;
  padding: 39px 20px 20px 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  max-width: 640px;

  .feedback-modal__text {
    @media (min-width: $tablet-width) {
      @include edge-distance(80px);
    }
  }
}

.feedback-modal__text {
  @include edge-distance(17px);
}

.feedback-modal--close {
  display: none;
}
