@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.feedback-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  padding: 24px 20px 56px 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.feedback-form__list {
  @include reset-list;
}

.feedback-form__group {
  border: none;
}

.feedback-form__group--impression {
  grid-column: 1/-1;
}

.feedback-form__group--landmark {
  grid-column: 1/-1;
}

.feedback-form__group--emotions {
  grid-column: 1/-1;
}

.feedback-form__item {
  display: flex;
  flex-direction: column;
}

.feedback-form__input {
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
}

.feedback-form__textarea {
  padding: 16px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  resize: none;
  background-color: #f2f2f2;
  border: none;
}
