@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.feedback__intro {
  padding-top: 37px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    padding-bottom: 44px;
  }
}

.feedback__title {
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    font-size: 30px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.feedback__button {
  max-width: 384px;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.feedback__remark {
  margin: 0;
  text-align: right;
  font-size: 12px;
  max-width: 384px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
  }
}

.feedback__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 72px;
    justify-items: stretch;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    @include edge-distance(216px);
    margin-bottom: 64px;
  }
}
