@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.intro {
  padding: 90px 0 85px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b3d8ef;
  background-image: url("../img/stack.svg#wings-phone"), url("../img/background-images/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-size: 1200px 57px, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/stack.svg#wings-phone"), url("../img/background-images/hero-background@2x.jpg");
  }

  @media (min-width: 321px) and (max-width: 768px) {
    background-image: url("../img/stack.svg#wings-tablet"), url("../img/background-images/hero-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/stack.svg#wings-tablet"), url("../img/background-images/hero-background-tablet@2x.jpg");
    }
  }

  @media (min-width: 321px) {
    padding-top: 78px;
    padding-bottom: 90px;
  }

  @media (min-width: 769px) {
    background-image: url("../img/stack.svg#wings-desktop"), url("../img/background-images/hero-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/stack.svg#wings-desktop"), url("../img/background-images/hero-background-desktop@2x.jpg");
    }
  }
}

.intro--inner {
  padding: 52px 0 67px 0;
  background-image: url("../img/stack.svg#wings-phone"), url("../img/background-images/form-hero-background.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/stack.svg#wings-phone"), url("../img/background-images/form-hero-background@2x.jpg");
  }

  @media (min-width: 321px) and (max-width: 768px) {
    padding-top: 96px;
    padding-bottom: 116px;
    background-position: bottom, bottom;
    background-image: url("../img/stack.svg#wings-tablet"), url("../img/background-images/form-hero-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/stack.svg#wings-tablet"), url("../img/background-images/form-hero-background-tablet@2x.jpg");
    }
  }

  @media (min-width: 769px) {
    padding-top: 103px;
    padding-bottom: 120px;
    background-position: bottom, bottom;
    background-image: url("../img/stack.svg#wings-desktop"), url("../img/background-images/form-hero-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/stack.svg#wings-desktop"), url("../img/background-images/form-hero-background-desktop@2x.jpg");
    }
  }
}

.intro__image {
  @include img;
  display: block;
  width: 282px;
  height: 100%;

  @media (min-width: $tablet-width) {
    width: 460px;
  }
}

.intro__image--inner {
  width: 229px;

  @media (min-width: $intermediate-width) {
    width: 457px;
    margin-left: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }
}
