.js-webp {
  .intro {
    background-image: url("../img/stack.svg#wings-phone"), url("../img/background-images/hero-background.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/stack.svg#wings-phone"), url("../img/background-images/hero-background@2x.webp");
    }

    @media (min-width: 321px) and (max-width: 768px) {
      background-image: url("../img/stack.svg#wings-tablet"), url("../img/background-images/hero-background-tablet.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/stack.svg#wings-tablet"), url("../img/background-images/hero-background-tablet@2x.webp");
      }
    }

    @media (min-width: 769px) {
      background-image: url("../img/stack.svg#wings-desktop"), url("../img/background-images/hero-background-desktop.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/stack.svg#wings-desktop"), url("../img/background-images/hero-background-desktop@2x.webp");
      }
    }
  }

  .intro--inner {
    background-image: url("../img/stack.svg#wings-phone"), url("../img/background-images/form-hero-background.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/stack.svg#wings-phone"), url("../img/background-images/form-hero-background@2x.webp");
    }

    @media (min-width: 321px) and (max-width: 768px) {
      padding-top: 96px;
      padding-bottom: 108px;
      background-image: url("../img/stack.svg#wings-tablet"), url("../img/background-images/form-hero-background-tablet.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/stack.svg#wings-tablet"), url("../img/background-images/form-hero-background-tablet@2x.webp");
      }
    }

    @media (min-width: 769px) {
      padding-top: 103px;
      padding-bottom: 120px;
      background-image: url("../img/stack.svg#wings-desktop"), url("../img/background-images/form-hero-background-desktop.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/stack.svg#wings-desktop"), url("../img/background-images/form-hero-background-desktop@2x.webp");
      }
    }
  }
}
