@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (max-width: $mobile-width-only) {
    bottom: 0;
    transform: translateX(-50%) translateY(100%);
  }

  @media (min-width: $tablet-width) {
    top: 0;
  }
}

.main-header__logo-image {
  object-fit: cover;
  width: 185px;
  height: 96px;
}
