@use "../global/variables.scss" as *;

.main-header {
  position: relative;
  margin-bottom: 56px;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
