@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.main-navigation {
  position: relative;
  text-align: center;
  background-color: #ffffff;
}

.main-navigation__link {
  @include menu-shape;
  display: block;
  padding: 16px 0 12px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  border-bottom: solid 1px rgba(1, 1, 1, 0.2);

  @media (max-width: $mobile-width-only) {
    @include button-shape;
  }

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    color: #000000;
    border: none;
  }
}

.main-navigation__list {
  @include reset-list;
  position: absolute;
  width: 100%;
  min-height: 56px;
  background-color: #81b3d2;
  z-index: 2;

  @media (max-width: $mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    }
  }

  @media (min-width: $tablet-width) {
    @include edge-distance(28px);
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 35px;
    row-gap: 10px;
    background-color: #ffffff;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    @include edge-distance(71px);
    column-gap: 125px;
  }
}

.main-navigation__item {
  @media (min-width: $tablet-width) {
    text-align: start;

    &:first-child {
      margin-left: 21px;
    }

    &:nth-child(2n) {
      margin-left: 5px;
    }

    &:nth-child(3n),
    &:nth-child(4n) {
      text-align: end;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      margin-left: 22px;
    }
  }
}

.main-navigation__item:nth-child(3),
.main-navigation__item:nth-child(7) {
  grid-column: 4/5;
}

.main-navigation__item:last-child {
  .main-navigation__link {
    border-bottom: transparent;
  }
}

.main-navigation__link--current {
  @media (min-width: $tablet-width) {
    color: #766357;
  }
}

.main-navigation__toggle {
  @include shape;
  position: absolute;

  @media (max-width: $mobile-width-only) {
    top: 17px;
    right: 20px;
    z-index: 2;
    display: block;
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
  }
}

.main-navigation__list--close {
  @media (max-width: $mobile-width-only) {
    display: none;

    ~ .main-navigation__toggle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 4px;
      background-color: #81b3d2;
      box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
    }
  }
}

.main-navigation__list--opened {
  @media (max-width: $mobile-width-only) {
    ~ .main-navigation__toggle {
      background-color: #81b3d2;

      &::before,
      &::after {
        content: "";
        right: 1px;
        top: 9px;
        position: absolute;
        width: 23px;
        height: 4px;
        background-color: #ffffff;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.main-navigation__list--nojs {
  position: relative;

  @media (max-width: $mobile-width-only) {
    display: block;
  }

  ~ .main-navigation__toggle {
    display: none;
  }
}
