@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.page-footer {
  padding: 33px 20px;
}

.page-footer__wrapper {
  padding: 33px 18px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.page-footer__social-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  align-content: center;
}

.page-footer__social-item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.page-footer__social-link {
  text-decoration: none;
}

.page-footer__title {
  margin: 0;
}
