.page-footer {
  padding: 33px 20px;
}

.page-footer__social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-footer__social-link {
  text-decoration: none;
}

.page-footer__wrapper {
  padding: 33px 18px;
}

.page-footer__title {
  margin: 0 0 30px 0;
}
