@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.photo-catalog__list {
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo-catalog__link {
  text-decoration: none;
}

.photo-catalog__image {
  padding-top: 24px;
  padding-bottom: 15px;
  display: block;
}

.photo-catalog__autor-name {
  margin: 0 0 11px 0;
  text-transform: none;
}

.photo-catalog__title {
  margin: 0 0 11px 0;
}

.photo-catalog__likes {
  font-weight: 700;
  color: #000000;
}

.photo-catalog__item--first {
  grid-column: 1/-1;
}
