@use "../global/mixins.scss" as *;
@use "../global/variables.scss" as *;

.services {
  @media (min-width: $intermediate-width) {
    grid-column: 1/4;
    grid-row: 1/2;
  }
}

.services__list {
  @include reset-list;
  padding: 23px 18px 46px 65px;

  @media (min-width: $intermediate-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.services__title {
  position: relative;
  margin: 0 0 16px 0;
  text-align: left;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 38px;
    transform: translateX(-125%);
    background-repeat: no-repeat;

    @media (min-width: $intermediate-width) {
      display: block;
      position: relative;
      width: 77px;
      height: 75px;
      background-size: contain;
      transform: none;
      margin-bottom: 26px;
    }
  }

  @media (min-width: $intermediate-width) {
    text-align: center;
  }
}

.services__item {
  margin-bottom: 25px;

  @media (min-width: $intermediate-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 35px;
    margin-bottom: 0;
    text-align: center;
  }
}

.services__title--housing {
  &::before {
    background-image: url("../img/icons/icon-house.svg");
  }
}

.services__title--food {
  &::before {
    background-image: url("../img/icons/icon-burger.svg");
  }
}

.services__title--souvenirs {
  &::before {
    background-image: url("../img/icons/icon-gift.svg");

    @media (min-width: $intermediate-width) {
      left: 50%;
      transform: translateX(-40%);
    }
  }
}

.services__description {
  @media (max-width: $desktop-width-only) {
    br {
      display: none;
    }
  }
}
